%h2 robots

= semantic_form_for @search do |f|
  = f.inputs :class => 'search', :title => 'Search' do
    = f.input :name_contains, :label => 'Name', :required => false
    = f.input :parts_id_equals, :label => 'Part', :as => :select, :collection => Part.all, :prompt => 'Select A Part', :required => false
    = f.input :parts_suppliers_id_equals, :label => 'Part Supplier', :as => :select, :collection => Supplier.all, :prompt => 'Select A Part Supplier', :required => false

  = f.buttons do
    = f.submit 'Search'
    = link_to 'Clear', robots_path

.page-entries-info
  = page_entries_info @robots

- if @robots.any?

  %table
    %thead
      %tr
        %th Name
        %th Description
    %tbody= render :partial => 'robot', :collection => @robots

= will_paginate @robots

